@inherits SpinnerBase

@if (IsLoading)
{
    if (LoadingTemplate == null)
    {
        <div class="row" style="min-height: 50rem;">
            <div class="col-sm-12 my-sm-auto">
                <CircleFade Center="true" />
            </div>
        </div>
    }
    else
    {
        @LoadingTemplate
    }
}
else
{
    if (!IsFaulted || FaultedContentTemplate == null)
    {
        @ContentTemplate
    }
    if (IsFaulted)
    {
        @FaultedContentTemplate
    }
}

@code {

    [Parameter] public SpinnerType Spinner { get; set; }

    [Parameter] public bool IsLoading { get; set; }

    [Parameter] public bool IsFaulted { get; set; }

    [Parameter] public RenderFragment LoadingTemplate { get; set; }

    [Parameter] public RenderFragment ContentTemplate { get; set; }

    [Parameter] public RenderFragment FaultedContentTemplate { get; set; }

}
