@page "/"
@inherits IndexBase


<h3>Azure App Service Easy Auth PoC</h3>
<hr class="mb-sm-5" />


<h3 class="mb-sm-5">LoggedIn User Name: @LoggedInUser.FullName </h3>
<h3 class="mb-sm-5">LoggedIn User Email: @LoggedInUser.EmailAddress </h3>