@page "/"
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

<h1>PoC - Azure App Service Logging to Blob Storage</h1>

<hr class="my-sm-5"/>

Environment: @Configuration["ASPNETCORE_ENVIRONMENT"]


